<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Geckofx60.64" version="60.0.14" targetFramework="net452" />
  <package id="HtmlAgilityPack" version="1.8.9" targetFramework="net452" />
  <package id="Metro4" version="4.2.26" targetFramework="net452" />
  <package id="MetroFramework" version="1.2.0.3" targetFramework="net452" />
  <package id="MetroFramework.Design" version="1.2.0.3" targetFramework="net452" />
  <package id="MetroFramework.Fonts" version="1.2.0.3" targetFramework="net452" />
  <package id="MetroFramework.RunTime" version="1.2.0.3" targetFramework="net452" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net452" />
  <package id="Microsoft.Net.Compilers" version="2.9.0" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.Web.Xdt" version="2.1.2" targetFramework="net452" />
  <package id="NuGet.CommandLine" version="4.9.6" targetFramework="net452" developmentDependency="true" />
  <package id="NuGet.Core" version="2.14.0" targetFramework="net452" />
  <package id="NuGet.VisualStudio" version="4.6.2" targetFramework="net452" />
  <package id="Selenium.Chrome.WebDriver" version="2.43" targetFramework="net452" />
  <package id="Selenium.PhantomJS.WebDriver" version="2.1.1" targetFramework="net452" />
  <package id="Selenium.Support" version="3.14.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.14.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.43.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.IEDriver" version="3.14.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.WaitExtensions" version="1.0.0" targetFramework="net452" />
  <package id="System.Resources.Reader" version="4.3.0" targetFramework="net452" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net452" />
  <package id="WebDriver.GeckoDriver" version="0.20.1" targetFramework="net452" />
</packages>